<main role="main" class="inner cover">
  <h1 class="cover-heading home">Hi. I am Harun ;)</h1>
  <p class="lead">I am a web developer based in Lodz, Poland.</p>
  <div class="">
    <ol class="list-unstyled social-links">
      <li><a href="#"><%= fa_icon 'github' %></a></li>
      <li><a href="#"><%= fa_icon 'instagram' %></a></li>
      <li><a href="#"><%= fa_icon 'twitter' %></a></li>
      <li><a href="#"><%= fa_icon 'facebook' %></a></li>
    </ol>
  </div>
  <p class="lead">
    <%= link_to "About me", about_path, class: "btn btn-lg btn-secondary" %>
  </p>
</main>