<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="keywords" content="<%= @seo_keywords %>">

    <%= stylesheet_link_tag 'portfolio_res', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="p-3">
     <div class="container">
      <div class="wrapper">
      <%= render 'shared/blog_nav' %>
      <section class="p-3 text-center">
          <div class="container">
            <%= render 'shared/portfolio_showcase' unless logged_in?(:site_admin)%>
          </div>
      </section>
      <%= yield %>

      <footer class="text-muted">
        <div class="text-center">
          <p class="">
            <%= render 'shared/application_footer' %>
          </p>
        </div>
      </footer>
    
      <%= source_helper %>
      </div>
    </div>
  </body>
</html>
